<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Minhas chamadas de coleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-pickup-call-card status="hold" updatedAt="24/09/2024 15:00" createdAt="23/09/2024" 
  notes="temos duas bolsas que estão cheias, uma com plástico e a outra com vidro."></app-pickup-call-card>
  
  <app-pickup-call-card status="processing" updatedAt="26/09/2024 15:00" createdAt="25/09/2024" 
  notes="temos duas bolsas que estão cheias"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updatedAt="28/09/2024 15:00" createdAt="27/09/2024" value="$ 15,00"></app-pickup-call-card>

</ion-content>
