<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Chamada para coleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://d2x3xhvgiqkx42.cloudfront.net/12345678-1234-1234-1234-1234567890ab/2d3f30b2-74a7-4aec-8ef7-67de4fff5318/2022/08/22/e5750483-e646-4b3b-9c11-f1b62b8466ae/2636f0c5-1324-4177-b212-e9f7fc5850ee.png" />
  <ion-card>
    <ion-card-content>
      <p>Endereço: Rua falsa, 111</p>
      <p>Complemento: Ap 201</p>
      <p>Bairro: bairro</p>
      <p>CEP: 111111111</p>
      <p>Cidade - Estado</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notas</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" (click)="newPickupCall()">Criar chamada de coleta</ion-button>
</ion-content>
